<head>
    <style>
        #btnBack {
            border: 1px dotted gray;
            position: absolute;
            top: 557px;
            width: 160px;
            height: 40px;
            left: 528px;
        }
    </style>
    <style>
        #summoner-name {
            border: 1px dotted gray;
            position: absolute;
            width: 316px;
            height: 18px;
            top: 151px;
            left: 449px;
        }
    </style>
    <style></style>
    <style>
        #summoner-result {
            position: absolute;
            border: 1px dotted gray;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            width: 904px;
            height: 377px;
            top: 172px;
            font-size: 16px;
            color: rgb(17, 120, 21);
            text-align: justify;
            text-indent: 10%;
            left: 155px;
        }
    </style>
    <style></style>
    <style></style>
    <style>
        #div112620237185-0 {
            border: 1px dotted gray;
            position: absolute;
            height: 87px;
            width: 100%;
            top: 49px;
            text-align: center;
            font-size: 24px;
            text-decoration: underline;
            color: rgb(30, 133, 53);
            left: 13px;
        }
    </style>
    <style>
        #div1126202301-0 {
            border: 1px dotted gray;
            position: absolute;
            width: 480px;
            height: 87px;
            left: 12px;
            top: 49px;
        }
    </style>
    <style>
        #div1126202240217 {
            border: 1px dotted gray;
            position: absolute;
            width: 480px;
            height: 87px;
            left: 12px;
            top: 49px;
        }
    </style>
</head>

<body>
    <div id="div1126202240217"></div>
    <div id="div1126202301-0"></div>
    <div id="div112620237185-0">Advanced Summoner Details
    </div>
    <ul id="summoner-result" style="pointer-events: auto;">
        <li id='summoner-name'>{{name}}</li>
        <li id='summoner-id'>{{id}}</li>
    </ul>
    <div id="summoner-title">{{name}}</div>
    <button type="button" id="btnBack">Go Back
    </button>
</body>